@charset "utf-8";
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
#header {
    width: 100vw;
    height: 10vh;
}
#logobox, #logolink {
    width: 16vw;
    height: 10vh;
    float: left;
    position: relative;
    text-align: center;
}
#logotype {
    width: auto;
    height: auto;
    max-width: 16vw;
    max-height: 10vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#menu {
    width: 84vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    text-align: center;
    float: left;
}
.menucontent {
    width: 12vw;
    height: 100%;
    display: inline-block;
    float: left;
}
.sidecontent {
    background-color: rgba(51,63,80,1);
}
.menuname {
    width: 100%;
    height: 100%;
    display: inline-block;
    line-height: 10vh;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.menuname:link, .menuname:visited {
    color: black;
}
.menuname:hover {
    color: #2F5597;
}
.activedmenu {
    background-color: rgba(51,63,80,1);
    border-radius: 1vw 1vw 0 0;
    color: white;
}
.activedmenu:link, .activedmenu:visited {
    color: white;
}
.activedmenu:hover {
    color: rgba(117,135,159,1);
}
.leftmenu {
    background-color: white;
    border-radius: 0 0 1vw 0;
}
.rightmenu {
    background-color: white;
    border-radius: 0 0 0 1vw;
}
