<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/Xhtml">
<head>
    <meta charset="utf-8" />
    <title>ball</title>
    <link rel="shortcut icon" href="./static/images/comat_favicon.ico" />
    <link rel="stylesheet" href="./static/css/header3.css" />
    <style>
        canvas {
            background-color: rgba(51,63,80,1);
        }
    </style>
</head>
<body>
    <div id="header">
        <a href="http://15.164.222.88:5000/"><img id="logotype" src="./static/images/comat_logotype.png" /></a>
        <ul id="menu">
            <li class="menucontent">
                <a class="menuname" id="user data" href="http://15.164.222.88:5000/texteditor?filename=user data">User Data</a>
            </li>
            <li class="menucontent">
                <a class="menuname" id="final save" href="http://15.164.222.88:5000/texteditor?filename=final save">Final Save</a>
            </li>
            <li class="menucontent">
                <a class="menuname" id="record status" href="http://15.164.222.88:5000/status?index=0">Record Status</a>
            </li>            
            <li class="menucontent">
                <a class="menuname" id="subject data" href="http://15.164.222.88:5000/texteditor?filename=subject data">Subject Data</a>
            </li>
            <li class="menucontent">
                <a class="menuname" id="timetable" href="http://15.164.222.88:5000/texteditor?filename=timetable">Timetable</a>
            </li>
            <li class="menucontent">
                <a class="menuname" id="file management" href="http://15.164.222.88:5000/file">File Management</a>
            </li>
            <li class="menucontent">
                <a class="menuname" id="ball" href="http://15.164.222.88:5000/ball">Ball</a>
            </li>
        </ul>
    </div>
    <div id="canvasbox">
        <canvas id="Canvas">Error</canvas>
    </div>
    <script>
        document.getElementById("ball").className += ' activedmenu';
        document.getElementById("file management").className += ' leftmenu';
        document.getElementById("file management").parentNode.className += ' sidecontent';
        
        var canvas = document.getElementById("Canvas");
        var ctx = canvas.getContext("2d");
        var boxwidth, boxheight;
        var minX, maxX, minY, maxY;
        var X, Y, dX, dY;
        var cursorX, cursorY;
        var play;
        var ispassed = false;
        
        canvas.width = document.body.clientWidth;
        canvas.height = document.body.clientHeight * 0.9;
        boxwidth = canvas.width * 0.5;
        boxheight = canvas.height * 0.5;
        X = canvas.width * 0.5;
        Y = canvas.height * 0.5;
        minX = canvas.width * 0.5 - boxwidth * 0.5;
        maxX = minX + boxwidth;
        minY = canvas.height * 0.5 - boxheight * 0.5;
        maxY = minY + boxheight;
        dX = 2; dY = 2;

        ctx.beginPath();
        ctx.rect(minX, minY, boxwidth, boxheight);
        ctx.lineWidth = 10;
        ctx.strokeStyle = "white";
        ctx.stroke();
        ctx.font = "20px Sans-Serif";
        ctx.textAlign = "center";
        ctx.fillStyle = "white";
        ctx.fillText("Click anywhere in box", canvas.width * 0.5, maxY + 40);

        canvas.addEventListener("mousedown", function (e) { redirect(e) }, false);

        function draw() {
            ctx.clearRect(minX, minY, boxwidth, boxheight);
            if (!ispassed) {
                ctx.beginPath();
                ctx.arc(cursorX, cursorY, 3, 0, Math.PI * 2, false);
                ctx.fillStyle = "rgba(117,135,159,1)";
                ctx.fill();
                ctx.beginPath();
                ctx.arc(cursorX, cursorY, 10, 0, Math.PI * 2, false);
                ctx.lineWidth = 3;
                ctx.strokeStyle = "rgba(117,135,159,1)";
                ctx.stroke();
            }
            ctx.beginPath();
            ctx.arc(X, Y, 10, 0, Math.PI * 2, false);
            ctx.fillStyle = "white";
            ctx.fill(); 
        }

        function move() {
            draw();
            if (X + dX + 10 > maxX || X + dX - 10 < minX) dX = -dX;
            if (Y + dY + 10 > maxY || Y + dY - 10 < minY) dY = -dY;
            if ((cursorX - X) * dX <= 0 || (cursorY - Y) * dY <= 0) ispassed = true;
            X += dX;
            Y += dY;
        }

        function redirect(e) {
            if (e.offsetX + 12 > maxX || e.offsetX - 12 < minX || e.offsetY + 11 > maxY || e.offsetY - 11 < minY) return;
            cursorX = e.offsetX; cursorY = e.offsetY;
            ispassed = false;
            dX = 4 * (cursorX - X) / (Math.abs(cursorX - X) + Math.abs(cursorY - Y));
            dY = 4 * (cursorY - Y) / (Math.abs(cursorX - X) + Math.abs(cursorY - Y));
            if (play == null) play = setInterval(move, 10);
        }

        play = setInterval(move, 10);
    </script>
</body>
</html
