<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/Xhtml">
<head>
    <meta charset="utf-8" />
    <title>dg1s_bot index</title>
</head>
<body>
    <button type="button" onclick="location.href='http://15.164.222.88:5000/userdata'">user data</button>
    <br>
    <button type="button" onclick="location.href='http://15.164.222.88:5000/finalsave'">final save</button>
    <br>
    <button type="button" onclick="location.href='http://15.164.222.88:5000/subjectdata'">subject data</button>
    <br>
    <button type="button" onclick="location.href='http://15.164.222.88:5000/ball'">ball</button>
</body>
</html>
