<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/Xhtml"><head>
    <meta charset="utf-8">
    <title>main</title>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            margin: 0 0 0 0;
            background-color: black;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
        div {
            width: 100vw;
            text-align: center;
        }
        img {
            width: 39vw;
            height: 26vw;
        }
        img:hover {
            cursor: default;
        }
    </style>
</head>
<body>
    <div>
        <img src="/bot/static/images/default_cmd.png" id="cmdimg">
    </div>
    <script>
        var img=document.getElementById("cmdimg");
        var movelistener = function (e){
            var x=e.offsetX, y=e.offsetY, w=img.width, h=img.height;
            if(1<=y && y<=31*h/381){
                if(w*426/575<=x && x<=w*475/575) img.src="/bot/static/images/minimize_cmd.png";
                else if(w*476/575<=x && x<=w*525/575) img.src="/bot/static/images/maximize_cmd.png";
                else if(w*526/575<=x && x<=w) img.src="/bot/static/images/close_cmd.png";
                else img.src="/bot/static/images/default_cmd.png"
            }
            else img.src="/bot/static/images/default_cmd.png"
        };
        img.addEventListener("mousemove", movelistener);
        
        var outlistener = function (){
            img.src="/bot/static/images/default_cmd.png";
        };
        img.addEventListener("mouseout", outlistener);

        var clicklistener = function (e){
            var x=e.offsetX, y=e.offsetY, w=img.width, h=img.height;
            if(1<=y && y<=31*h/381){
                if(w*426/575<=x && x<=w){
                    img.src="/bot/static/images/loading_img.gif";
                    img.style.height="39vw";
                    img.removeEventListener("mousemove", movelistener);
                    img.removeEventListener("mouseout", outlistener);
                    img.removeEventListener("click", clicklistener);
                    setTimeout(function(){
                        location.href="http://15.164.222.88:5000/index";
                    },3000);
                }
            }
        };
        img.addEventListener("click", clicklistener);
    </script>
</body>
</html>
