<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/Xhtml"><head>
    <meta charset="utf-8">
    <title>main</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            margin: 0 0 0 0;
            background-color: rgba(40,40,40,1);
            display: flex;
            align-items: center;
        }
        div {
            width: 100vw;
            text-align: center;
        }
        img {
            width: 50vw;
        }
        img:hover {
            cursor: default;
        }
    </style>
    <script>
        function defaultimg(img){ img.src="{{url_for('static',filename='/images/default_cmd.png')}}" }
        function hover(e,img){
            var x=e.offsetX, y=e.offsetY, w=img.width, h=img.height;
            if(1<=y && y<=31*h/381){
                if(w*426/575<=x && x<=w*475/575) img.src="{{url_for('static',filename='/images/minimize_cmd.png')}}";
                else if(w*476/575<=x && x<=w*525/575) img.src="{{url_for('static',filename='/images/maximize_cmd.png')}}";
                else if(w*526/575<=x && x<=w) img.src="{{url_for('static',filename='/images/close_cmd.png')}}";
                else img.src="{{url_for('static',filename='/images/default_cmd.png')}}"
            }
            else img.src="{{url_for('static',filename='/images/default_cmd.png')}}"
        }
        $("#imgbox").click(function click(e){
            alert("youclicked!");
            if(e.button==1){
                alert("youclickedwithleftbtn!");
                var x=e.offsetX, y=e.offsetY, w=img.width, h=img.height;
                if(1<=y && y<=31*h/381){
                    if(w*426/575<=x && x<=w*475/575) img.src="{{url_for('static',filename='/images/minimize_cmd.png')}}";
                    else if(w*476/575<=x && x<=w*525/575) img.src="{{url_for('static',filename='/images/maximize_cmd.png')}}";
                    else if(w*526/575<=x && x<=w) img.src="{{url_for('static',filename='/images/close_cmd.png')}}";
                    else location.href="/index";
                }
                else location.href="/index";
            }
        });
    </script>
</head>
<body>
    <div id="imgbox">
        <img src="{{url_for('static',filename='/images/default_cmd.png')}}" onmousemove="hover(event, this)" onmouseout="defaultimg(this)">
    </div>
</body>
</html>
