<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/Xhtml"><head>
    <meta charset="utf-8">
    <title>main</title>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            margin: 0 0 0 0;
            background-color: rgba(40,40,40,1);
            display: flex;
            align-items: center;
        }
        div {
            width: 100vw;
            text-align: center;
        }
        img {
            height: 50vh;
        }
        img:hover {
            cursor: default;
        }
    </style>
    <script>
        function hover(e){
            var x=e.offsetX, y=e.offsetY;
            document.getElementById("locat").innerHTML=x+" "+y;
        }
        function click(e){
            if(e.button==1){
                
            }
        }
    </script>
</head>
<body>
    <div>
        <img src="{{url_for('static',filename='/images/main_img_default.png')}}" onmousemove="hover(event)" onclick="click(event)">
    </div>
    <div id="locat"></div>
</body>
</html>
