<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/Xhtml">
<head>
    <meta charset="utf-8" />
    <title>saved</title>
    <link rel="shortcut icon" href="./static/images/code21_favicon.ico" />
    <style>
        body {
            text-align: center;
            background-color: #2F5597;
        }
        div {
            padding: 10% 0 0 0;
            font-family: sans-serif;
            font-size: 50px;
            color: white;
        }
    </style>
</head>
<body>
    <div>file successfully saved!</div>
</body>
</html>
