
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/Xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        table {
            border-collapse: collapse;
        }
        tr, td {
            border: 1px solid black;
            padding: 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td rowspan="2">학번</td>
            <td rowspan="2">이름</td>
            <td colspan="2">월</td>
            <td colspan="3">화</td>
            <td colspan="3">수</td>
            <td colspan="3">목</td>
            <td colspan="2">금</td>
            <td rowspan="2">참여율</td>
        </tr>
        <tr>
            <td>중식</td>
            <td>석식</td>
            <td>조식</td>
            <td>중식</td>
            <td>석식</td>
            <td>조식</td>
            <td>중식</td>
            <td>석식</td>
            <td>조식</td>
            <td>중식</td>
            <td>석식</td>
            <td>조식</td>
            <td>중식</td>
        </tr>
        {% for i in range(n) %}
            <tr>
                <td>{{stid[i]}}</td>
                <td>{{name[i]}}</td>
                {% for j in range(13)}
                    <td></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
